{% extends "layout.html" %}

{% block title %}Home - Database List{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
  <li class="breadcrumb-item">Home</li>
{% endblock %}

{% block content %}
  <ul class="fa-ul">
    <li>
      <span class="fa-li"><i class="fas fa-boxes" alt=""></i></span>
      <a href="/db/postgresql/">PostgreSQL</a>
    </li>
    <li>
      <span class="fa-li"><i class="fas fa-boxes" alt=""></i></span>
      <a href="/db/bigquery/">BigQuery</a>
    </li>
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
