{% extends "layout.html" %}

{% block title %}
  Projects in: {{ database }}
{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ database }}</li>
{% endblock %}

{% block content %}
  <ul>
    {% for link in links %}
      <li><a href="/db/{{ database }}/project/{{ link }}/">{{ link }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
