{% extends "layout.html" %}

{% block title %}
  Table in: {{ db_name }}:{{ project_name }}:{{ dataset_name }}
{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/db/{{ db_name }}/">{{ db_name }}</a></li>
  <li class="breadcrumb-item"><a href="/db/{{ db_name }}/project/{{ project_name }}/">{{ project_name }}</a></li>
  <li class="breadcrumb-item"><a href="/db/{{ db_name }}/project/{{ project_name }}/dataset/{{ dataset_name }}/">{{ dataset_name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ table_name }}</li>
{% endblock %}

{% block content %}

  <dl>
    <dt>{{ table_name }}</dt>
    <dd>(table description)</dd>
  </dl>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Column Name</th>
      <th scope="col">Column Type</th>
      <th scope="col">Description</th>
      <th scope="col">Is Nullable</th>
      <th scope="col">Mode</th>
    </tr>
  </thead>
  <tbody>
    {% for s in content['schema'] %}
    <tr>
      <td>{{ s['name'] }}</td>
      <td>{{ s['type'] }}</td>
      <td>{{ s['description'] }}</td>
      <td>{{ s['is_nullable'] }}</td>
      <td>{{ s['mode'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

{% endblock %}

{% block footer %}{% endblock %}
