{% extends "layout.html" %}

{% block title %}
  Tables in: {{ database }}:{{ project }}:{{ dataset }}
{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/db/{{ database }}/">{{ database }}</a></li>
  <li class="breadcrumb-item"><a href="/db/{{ database }}/project/{{ project }}/">{{ project }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ dataset }}</li>
{% endblock %}

{% block content %}
  <ul>
    {% for link in links %}
      <li><a href="/db/{{ database }}/project/{{ project }}/dataset/{{ dataset }}/table/{{ link }}">{{ link }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
