{% extends "layout.html" %}

{% block title %}
  Tables in: {{ database }}:{{ project }}:{{ dataset }}
{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
  <a href="/">Home</a>
  >> <a href="/db/{{ database }}/">{{ database }}</a>
  >> <a href="/db/{{ database }}/project/{{ project }}/">{{ project }}</a>
  >> {{ dataset }}</a>
{% endblock %}

{% block content %}
  <h3>Tables in: {{ database }}:{{ project }}:{{ dataset }}</h3>
  <ul>
    {% for link in links %}
      <li><a href="/db/{{ database }}/project/{{ project }}/dataset/{{ dataset }}/table/{{ link }}">{{ link }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
