{% extends "layout.html" %}

{% block title %}
  Tables in: {{ db_name}}:{{ project_name }}:{{ dataset_name }}
{% endblock %}

{% block header %}{% endblock %}

{% block nav %}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/db/{{ db_name }}/">{{ db_name }}</a></li>
  <li class="breadcrumb-item"><a href="/db/{{ db_name }}/project/{{ project_name }}/">{{ project_name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ dataset_name }}</li>
{% endblock %}

{% block content %}
  <ul class="fa-ul">
    {% for link in links %}
      <li>
        <span class="fa-li"><i class="fas fa-table" alt="Table"></i></span>
        <a href="/db/{{ db_name }}/project/{{ project_name }}/dataset/{{ dataset_name }}/table/{{ link }}">{{ link }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block footer %}{% endblock %}
